
/*Start
style to create a div with two columned div
 */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    height: 200px;
}

/* Create two equal columns that sits next to each other */
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
}
.column_text{
    padding: 20px;
    text-align: center;
}
.column_image{
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

