
body {
    margin: 0;
    padding: 0;
    background-color: #131D38;
}



.image_box {
    width: 100%;
    top: 1px;
    position: absolute;
    display: flex;
    flex-flow: column;
    transition: transform 0ms;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.transparent {
  opacity: 0;
}

.image_box div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    display: flex;
}

.center_image {
    height: 100%;
}

.center_image img {
    margin: auto;
}

.center_image_mousemove:hover {

    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;

}

#particle_image {
    clip-path: circle(0px at center);
    height: 100%;
    width: 100%;
    position: absolute;
}

.center_image_mousemove img {
    width: 50%;
    margin: auto;
}



.text_box {
    width: auto;
    left: 1px;
    position: absolute;
    display: flex;
    flex-flow: column;
    transition: transform 530ms;
}

.text_box div {
    width: 100%;
    position: relative;
    display: flex;
}

.center_text {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.center_text p {
    margin: auto;
    color: #FF6F42;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.center_text img {
    margin: auto;
}


.side_text {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.side_text p {
    margin: 50px;
    margin-bottom: 0px;
    color: #FF6F42;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.side_text div {
    margin: 50px;
    margin-bottom: 0px;
}

.active {
    background: #1e305c;
}

.passive {
    background: #00000000;
}


.icon_toggle_container {
    width:100%;
    margin: 50px auto 0px auto;
    display: flex;
    flex-flow: row;
}

.icon_toggle_container button {
    margin: auto;
    height: 140px;
    width: 120px;
    border: none;
}

.icon_toggle_container button img {
    margin: auto;
    height: 80%;
}

.health_info_box {

    background-color: #ad4d2f;
    height: 35%;
    margin: 50px;
    border-thickness: 10px;
    overflow: auto;
    padding: 20px;

}

.health_info_box p {

    color: white;
    font-size: 16pt;
    margin: auto;
    text-align: left;

}

.show {
    display: inline;
}

.hide {
    display:none;
}


.toggle_button {

    margin: 50px;
    width: 40%;
    height: 7%;
    color: white;
    background-color: #ad4d2f;
    border-radius: 10px;
    font-size: 15pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}




.background_box {
    width: 100%;
    height: auto;
    left: 1px;
    position: absolute;
    display: flex;
    flex-flow: column;
    transition: transform 630ms;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}




.vNav {
    position: fixed;
    top: 25%;
    left: 90%;
    width: 50px;
    z-index: 9999;
    list-style-type: none;
}

.vNav ul {
    position: relative;
    padding: 3px;
    padding-left: 35%;
}

.vNav ul li{
    position: relative;
    padding-bottom: 20px;
    padding-left: 35%;
    color: rgb(113,135,133);

}

.vNav a{
    display: block;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    border-radius: 50%;
    border: 2px solid;
    border-color: rgb(113,135,133);
    text-decoration: none;
    cursor: pointer;
}

.vNav a:hover{
    border-radius: 50%;
    background-color: rgb(113,135,133);
    text-decoration: none;
}

.vNav a.active{
    border-radius: 50%;
    background-color: rgb(2, 250, 231);
    text-decoration: none;
}
.label {
    position: relative;
    top: -60%;
    left: -200%;
    width: 100%;
    text-align: right;
    font-size: 1em;
    color: rgb(2, 250, 231);
    display: none;
    font-weight: bold;
}
