
body {
    margin: 0;
    padding: 0;
}



.image_box {
    width: 100%;
    top: 1px;
    position: absolute;
    display: flex;
    flex-flow: column;
    transition: transform 0ms;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.transparent {
  opacity: 0;
}

.image_box div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    display: flex;
}

.center_image {
    height: 100%;
}

.center_image img {
    margin: auto;
}

.center_image_mousemove {
    height: 100%;
    margin: auto;

}

.center_image_mousemove img {
    margin: auto;
}


.text_box {
    width: auto;
    left: 1px;
    position: absolute;
    display: flex;
    flex-flow: column;
    transition: transform 530ms;
}

.text_box div {
    width: 100%;
    color: rgb(66, 66, 66);
    font-weight: bold;
    text-align: center;
    font-size: 48pt;
    position: relative;
    display: flex;
}

.center_text {
    height: 100%;
}

.center_text p {
    margin: auto;
}






.background_box {
    width: 100%;
    height: auto;
    left: 1px;
    position: absolute;
    display: flex;
    flex-flow: column;
    transition: transform 630ms;
    z-index: -1;
}
