
body {
    margin: 0;
    padding: 0;
    background-color: #131D38;
}



.image_box {
    width: 100%;
    top: 1px;
    position: absolute;
    display: flex;
    flex-flow: column;
    transition: transform 0ms;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.transparent {
  opacity: 0;
}

.image_box div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    display: flex;
}

.center_image {
    height: 100%;
}

.center_image img {
    margin: auto;
}

.center_image_mousemove:hover {

    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;

}

#particle_image {
    clip-path: circle(0px at center);
    height: 100%;
    width: 80%;
    padding-left: 10%;
    position: absolute;
}

.center_image_mousemove img {
    width: 50%;
    margin: auto;
}



.text_box {
    width: auto;
    left: 1px;
    position: absolute;
    display: flex;
    flex-flow: column;
    transition: transform 530ms;
}

.text_box div {
    width: 100%;
    text-align: center;
    font-size: 48pt;
    position: relative;
    display: flex;
}

.center_text {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.center_text p {
    margin: auto;
    color: #FF6F42;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.center_text img {
    margin: auto;
}


.side_text {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.side_text p {
    margin: 50px;
    margin-bottom: 0px;
    color: #FF6F42;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.side_text div {
    margin: 50px;
    margin-bottom: 0px;
}



.background_box {
    width: 100%;
    height: auto;
    left: 1px;
    position: absolute;
    display: flex;
    flex-flow: column;
    transition: transform 630ms;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
